ADSORFIT/resources/database/*
ADSORFIT/setup/python/*
ADSORFIT/setup/*

__pycache__
*.lock
*.exe
*.vscode
*.jpeg
*.jpg
*.png
*.db
*.log
*.npy
*.json
*.egg-info
!.gitkeep
!ADSORFIT/setup/configurations.json

